@media only screen and (max-width: 768px) { 
    #contactPropertyForm {
        z-index: 100;
    }

    #countryDropdownSelect {
        width: max-content;
    }
    .phoneArea{
        width: fit-content;
    }
}